html{
       background-color: #00539F;
       font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
font-family: "Open Sans", sans-serif;
}

body{
      margin: 0 auto;
      width: 600px;
     
      background-color: #FF9500;
      border: 5px solid black;
      
      padding: 0 20px 20px 20px;
}
img{
      display: block;
      margin: 0 auto;
      width: 40%;
      height: auto;
}
.Heading{
      padding: 20px 0;
      margin: 0;
     color:  #00539F;
     text-align: center;
     text-shadow: 4px 2px black;
     font-size: 6rem;
}
p{
      font-size: 16px;
      line-height: 2;
     
      letter-spacing: 1px;
}
ul{
font-size: 16px;
      line-height: 2;
     display: block;

      letter-spacing: 1px;
}